NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_APP_NAME=Rent-Karo
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_CI=true
NEXT_PUBLIC_TEST_EMAIL=
NEXT_PUBLIC_TEST_PASSWORD=
NEXT_PUBLIC_TEST_USER_NAME=John
NEXT_PUBLIC_FE_BASE_URL=http://localhost:3000